.container {
    margin: auto;
    width: 1440px;
}

.header {
    background-image: url(../images/Group\ 48\ 1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    color: white;
    text-decoration: none;
}

.nav-link:hover {
    transition: 0.7s;
    color: aqua;
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 50px;
}

.logo-link {
    margin-left: 100px;
}

.header-btn {
    margin-right: 100px;
}

.hero {
    border-top: 5px solid white;
    position: relative;
    height: 740px;
    background-size: cover;
}

.overlay {
    position: absolute;
    inset: 0;
}

.social-icons {
    margin-right: 70px;
}

.content {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 100px;
}

.left {
    max-width: 350px;
    color: white;
}

.avatar-icon {
    width: 70px;
    margin-bottom: 20px;
}

.main-p1 {
    margin-left: 60px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-size: 18px;
    margin-bottom: 20px;

}

.folk {
    margin-left: 90px;
}

.main-p2 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-size: 18px;
    margin-bottom: 100px;
    margin-left: 60px;
}

.btn {
    padding: 15px 50px;
    margin-left: 60px;
    font-size: 20px;
    color: #00c3ff;
    background: blue;
    border-top-left-radius: 65%;
    border-bottom-right-radius: 65%;

    border: 2px solid #00c3ff;

    cursor: pointer;
    transition: .3s;
}

.btn:hover {
    background: #00c3ff;
    color: #fff;
}

/* SOCIALS */

.socials {
    display: flex;
    flex-direction: column;
    gap: 25px;

    color: white;
    font-size: 30px;
}

.socials i {
    cursor: pointer;
    transition: .3s;
}

.socials i:hover {
    color: #00c3ff;
}

.under-section {
    text-align: center;
    padding: 80px 20px;
    background: white;
}

.under-section h2 {
    max-width: 1000px;
    margin: auto;

    color: #14395f;
    font-size: 42px;
    font-weight: 300;
    line-height: 1.4;
}

.under-section p {
    margin-top: 30px;
    font-size: 22px;
    color: #333;
}

.btn2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 50px;
    font-size: 20px;
    color: #00c3ff;
    background: blue;
    border: 2px solid #00c3ff;
    border-top-left-radius: 45%;
    border-bottom-right-radius: 45%;

}

.btn2:hover {
    transition: .3s;
    background: #00c3ff;
    color: #fff;
}

.hero2 {
    position: relative;
    height: 740px;
    background-image: url(../images/Rectangle\ 10.png);
    background-size: cover;
}

.cards {
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.section {
    background-image: url(../images/Rectangle\ 20.png);
    padding-top: 10px;
    padding-bottom: 40px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.h3 {
    font-size: 42px;
    font-weight: 300;
    line-height: 1.4;
    display: flex;
    justify-content: center;
}

.card {
    background: rgba(255, 255, 255, .65);
    padding: 35px 20px;

    text-align: center;

    min-height: 230px;

    transition: .3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, .2);
}

.card h2 {
    margin-bottom: 40px;
    font-weight: normal;
}

.card img {
    width: 120px;
    margin-bottom: 40px;
}

.card p {
    font-size: 2rem;
}

.footer {
    background:
        linear-gradient(rgba(15, 40, 65, .85), rgba(15, 40, 65, .85)),
        url("../images/Rectangle 20.png") center/cover no-repeat;

    color: white;
    padding: 40px 80px 20px;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    gap: 50px;
}

.footer-logo {
    margin-left: 450px;
}

.divider {
    width: 2px;
    height: 110px;
    background: rgba(255, 255, 255, .7);
}

.footer-info {
    width: 600px;
}

.row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 28px;
}

.row span:first-child {
    white-space: nowrap;
}

.dots {
    flex: 1;
    border-bottom: 3px dashed rgba(255, 255, 255, .8);
    margin: 0 20px;
}

.row a {
    color: white;
    text-decoration: none;
}

.row a:hover {
    color: #33d6ff;
}

.copyright {
    margin-top: 25px;
    text-align: center;
    color: rgba(255, 255, 255, .8);
    font-size: 16px;
}